.hsr-top-nav{
    background-color: var(--theme-color);
    padding: 0.5rem;
    a{
        text-decoration: none;
        color:white;
    }
}

@media only screen and (max-width: 768px) {
    .hsr-top-nav{
        display: none;
    }
}