.hsr-blogs{
    background-color: white;
    padding:5rem 1rem ;
    .sub-heading{
        color: var(--theme-color);
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    .main-heading{
        color:black;
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    }
}